
#headerimg,
#leftside,
.credit,
h1,
h2,
h3 {
    text-align: center
}

@font-face {
    font-family: helveti;
    src: url(../fonts/HelvetiHand.ttf) format("truetype")
}

@font-face {
    font-family: helveti;
    src: url("../fonts/HelvetihandItalic-Regular.ttf");
    font-style: italic;
}
@font-face {
    font-family: igiari;
    src: url("../fonts/Igiari.ttf");
}

@font-face {
    font-family: redaction;
    src: url("../fonts/Redaction35-Regular.otf");
}
@font-face {
    font-family: pixelated;
    src: url("../fonts/pixelated-verdana-regular-12.ttf");
}
@font-face {
    font-family: april;
    src: url(../fonts/April.ttf) format("truetype")
}

@font-face {
    font-family: dudu;
    src: url("../fonts/Dudu_Calligraphy.ttf")
}
@font-face {
    font-family: spirit;
    src: url("../fonts/Spirit.ttf")
}
@font-face {
    font-family: lspirit;
    src: url("../fonts/LittleSpirit.ttf")
}
@font-face {
    font-family: select;
    src: url("../fonts/SelectMono-Italic.ttf")
}

@font-face {
    font-family: cirrus;
    src: url(../fonts/CirrusCumulus.ttf) format("truetype")
}

@font-face {
    font-family: lgothic;
    src: url(../fonts/Letter Gothic Regular.ttf) format("truetype")
}

@font-face {
    font-family: lgothic;
    src: url("../fonts/Letter Gothic Slanted.ttf");
    font-style: italic;
}

@font-face {
    font-family: sina;
    src: url(../fonts/Sina_Nova.ttf) format("truetype")
}