body {
     overflow-y:hidden;
    overflow-x: hidden;
    width: 1120px;
     position: relative;
        display: block;
        margin-left:auto;
        margin-right:auto;
     font-size: 16px;
    font-family: pixelated, Verdana;
}
#content,
#leftside,
.credit {
    outline-width: 0;
    padding: 1.5em
}

h1,
h2,
h3 {
    font-size: 18px;
  
}

a {
    text-decoration: none;    
    
}


#container {
    margin: 5rem auto;
    width: 60%;
    max-height: 550px;
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    overflow-x: clip;

}

#leftside {
    left: 0;
    position: relative;
    min-width:150px;
    min-height: 550px;
    
}

#content {
    position: relative;
    order: 2;
    width: auto;
    max-height: 500px;
    overflow-y: scroll;
    overflow-x: clip;

}




#links a:hover {
    letter-spacing:1px;
}

.credit {
    width: 20%;
    margin: 2rem auto 5rem
}

hr {
    width: 100%
}

::-webkit-scrollbar {
    width: 3px;
    background: 0 0
}

::-webkit-scrollbar-thumb {
    background: #859587;
    border-radius: 3px
}

.center {
    display: flex;
    justify-content: center
}


header {
    	grid-area: head;
	text-align: center;
	overflow: auto;
	background: transparent;
	border: 0px;
}


.inset {
    max-height: 10rem;
    overflow: auto;
    outline-width: 6px;
    border-style: inset;
}
